.headers{
    color: purple !important;
    padding-bottom: 0rem !important;
}
.card-body{
    display: flex !important;
    align-content: center !important;
    justify-content: center !important;
    flex-direction: column !important;
    min-width: 10px !important;
    background-color: salmon !important;
    margin: 20px !important
    /* work on this to change the design of the activity cards on homepage */
    /* display: flex !important;
    flex-direction: row !important;
    min-width: 10px !important; */
}

.homepage img{
    height: 200px;
}

.homepage h3{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 50px;
}

.card{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}



/* use !important to override bootstrap css */
