.contact{
    display: flex;
    flex-direction: row;
    margin-left: 7%;
    margin-top: 30px;
}
.form{
display: flex;
flex-direction: column;
padding-left: 20px;
}
.form div {
    margin-bottom: 10px;
}
input , textarea , button{
    width: 500px;
    border-radius: 5px;
    
}

.btn {
    
    line-height: 1px;
}

@media screen and (max-width: 390px) {
    .contact{
        display: flex;
        flex-direction: column;
        margin-left: 10%;
    }
    aside{
        /* background-color: yellow; */
        display: flex;
        flex-direction: column;
     
        min-height: 100px;
       
    }
    .line {

        /* width: 50%; */
    
        border-bottom: 3px solid var(--dark-navy);
        position:relative;
        right: 15px;
        margin-left: 10px;
    }

    input , textarea{
        width: 250px;
        border: 1px solid gray;
        border-radius: 5px;
        
    }
   p{
      
       font-size: 9px;
       padding: 10px;
   }
    .btn {
        background-color: var(--dark-navy);
        line-height: 1px;
        width: 250px;
       
    }
  }