.pendingCard {
    /* background-color: darkslategray; */
    border: 1px solid gray;
    width: 400px;
    margin: 30px;
   
}
.buttons{
    background-color: white;
    width: fit-content;
    border-radius: 6px;
}
.card-body{
    padding: 20px;
}
.card-hearder{
    background-color:rgb(221, 174, 240);
    padding: 20px;
    height: 150px;
}