.privateCard {
    /* background-color: darkslategray; */
    border: 1px solid gray;
    width: 300px;
    height: 500px;
    margin: 30px;
}

.private-card-body{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    position: absolute;
    /* top: 50px; */
    width: 90%;
}

.private-card-body h6{
    text-decoration: underline;
}

.participant-circle{
    background-color: var(--MBG);
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 1%;
    float: right;
}

.card-body1{
    position: relative;
    top: 20px;
}

.card-body1 img{
    float: right;
    margin-top: 1%;

}

.participant-number{
    color: var(--aliceBlue);
}

.private-card-body button{
    margin-top: 5px;
    width: 50%;
    text-align: center;
}

.cardButtons{
    margin-top: 5%;
}

.msg {
    color: red;
}

.private-title {
    text-align: center;
    font-size: 24px;
    margin-top: 10px;
}

.private-img{ 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;  
}

.private-img > img{
    width: 100%;
    height: 200px;
}

.private-card-body h4{
    font-size: 14px;
    margin-top: 10px;
    margin-left: 10px;
}

@media screen and (max-width: 390px) {
    .private-title{
        font-size: 18px;
    }
    .private-card-body{
        margin: 30px;
    }
    .card-header{
        height: 150px;
    }
    .card-body1{
        position: relative;
        top: 20px;
    }

    .privateCard {
        /* background-color: darkslategray; */
        border: 1px solid gray;
        width: 300px;
        height: 540px;
        margin: 30px;
    }
}

@media screen and (max-width: 820px) {
    .private-title{
        font-size: 24px;
    }
    .private-card-body{
        margin-top:5px;
        margin-left: 10px;
    }
    .card-header{
        height: 225px;
    }
}