.login-form {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.login-title {
    margin: 30px;
    font-size: 48px;
}

.login-form div {
    margin: 20px;
}

.login-form input {
    width: 40%;
    padding: 10px;
}


@media screen and (max-width: 390px) {
    .contact {
        display: flex;
        flex-direction: column;
        margin-left: 10%;
    }



    .login-form input {
        width: 70%;
        padding: 10px;
    }

    .login-form h2 {
        font-size: 22px;
    }

    p {

        font-size: 9px;
        padding: 10px;
    }

}