.login-form {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.login-title{
    margin: 30px;
    font-size: 48px;
}

.login-form div{
    margin: 20px;
}

.login-form input{
    width: 40%;
    padding: 10px;
}

.loginBtn{
        background-color: white;
        width: fit-content;
        border-radius: 6px;
}



@media screen and (max-width: 390px) {
    .contact{
        display: flex;
        flex-direction: column;
        margin-left: 10%;
    }
    aside{
        /* background-color: yellow; */
        display: flex;
        flex-direction: column;
     
        min-height: 100px;
       
    }
    .line {

        /* width: 50%; */
    
        border-bottom: 3px solid var(--dark-navy);
        position:relative;
        right: 15px;
        margin-left: 10px;
    }

    input , textarea{
        width: 250px;
        border: 1px solid gray;
        border-radius: 5px;
        
    }
   p{
      
       font-size: 9px;
       padding: 10px;
   }
    .btn {
        background-color: var(--dark-navy);
        line-height: 1px;
        width: 250px;
       
    }
  }