.publicCard {
    /* background-color: darkslategray; */
    border: 1px solid gray;
    width: 300px;
   height: 400px;
    margin: 30px;

}

.buttons {
    background-color: white;
    width: fit-content;
    border-radius: 6px;
}

.card-body2 {

}

.public-title {
    text-align: center;
    font-size: 30px;
    margin: 10px;
}

.public-img {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-hearder1{
    background-color: rgb(75, 105, 105);
    padding: 20px;
    height: 100px;
}

.homepage-cards{
    display: flex;
    align-content: center;
    justify-content: center;
}