.publicCard {
    /* background-color: darkslategray; */
    border: 1px solid gray;
    width: 300px;
   height: 450px;
    margin: 30px;
}

.public-card-body{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}

.public-card-body button{
    margin-top: 5px;
    width: 50%;
    text-align: center;
}

.card-header1{
    background-color: rgb(75, 105, 105);
    padding: 10px 0px 0px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.public-title {
    text-align: center;
    font-size: 24px;
    margin-top: 10px;
}

.public-img {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.public-card-body h4{
    font-size: 14px;
    margin-top: 10px;
    margin-left: 10px;
}

@media screen and (max-width: 390px) {
    .public-title{
        font-size: 18px;
    }
    .public-card-body{
        margin: 30px;
    }
    .card-header1{
        height: 150px;
    }
}

@media screen and (max-width: 820px) {
    .public-title{
        font-size: 24px;
    }
    .public-card-body{
        margin-top:10px;
        margin-left: 10px;
    }
    .card-header1{
        height: 225px;
    }
}

