.pendingCard {
    /* background-color: darkslategray; */
    border: 1px solid gray;
    width: 300px;
    height: 500px;
    margin: 30px;
   
}

.pending-card-body{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}

.pending-card-body h6{
    text-decoration: underline;
}

.pending-card-body button{
    margin-top: 5px;
    width: 50%;
    text-align: center;
}

.pending-title {
    text-align: center;
    font-size: 24px;
    margin-top: 10px;
}

.pending-img {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
}

.pending-card-body h4{
    font-size: 14px;
    margin-top: 10px;
    margin-left: 10px;
}

@media screen and (max-width: 390px) {
    .pending-title{
        font-size: 18px;
    }
    .pending-card-body{
        margin: 30px;
    }
    .card-header1{
        height: 150px;
    }
}

@media screen and (max-width: 820px) {
    .pending-title{
        font-size: 24px;
    }
    .pending-card-body{
        margin-top:10px;
        margin-left: 10px;
    }
    .card-header1{
        height: 225px;
    }
}

