.card h1{
    text-align: center;
}

.card-body{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card img{
height: 150px;
width: 150px;
}

@media screen and (max-width: 750px) {
    .card img{
        height: 100px;
        width: 100px;
    }
    }
    
    @media screen and (max-width: 480px) {
        .card img{
            height: 50px;
            width: 50px;
        }
    }