.card h1{
    text-align: center;
}

.card-body{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    justify-content: center;
}



/* .card{
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
} */