
 .unit{
    margin-right: 20px;
}
.unitCon{
    font-size: 20px;
    margin-left: 5px;
}
.Conventor{
    margin-bottom: 70PX;
}

.Conventor input{
  
    margin-right: 20px;
}
@media screen and (max-width: 390px) {

    h2{
        font-size: var(--fs-14)
    }

    /* .Conventor input{
        width: 30%;
        margin-right: 10px;
    } */
    .Form{
        padding-bottom: 10px;
    }
    button{
        font-size: var(--fs-10);
        background-color: white;
    }
    /* .unit{
        margin-right: 10px;
    } */

    .Conventor{
        margin-bottom: 40PX;
    }

    .unitCon{
        font-size: 15px;
        margin-left: 5px;
    }
    
}