#user-dashboard {
  margin-top: 20px;
  font-size: 24px;
}

.profile-title {
  margin-left: 6%;
  font-size: 32px;
  text-decoration: underline;
}

.createdChallenges {
  margin-bottom: 5%;
  margin-right: 5%;
  margin-left: 5%;
  width: 90%;
  border: 3px solid rgb(184, 211, 211);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.joinedChallenges {
  margin-bottom: 5%;
  margin-right: 5%;
  margin-left: 5%;
  width: 90%;
  border: 3px solid rgb(240, 218, 158);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.joinedChallenges:empty {
  display: none;
}

.pendingChallenges:empty {
  display: none;
}

.pendingChallenges {
  margin-bottom: 5%;
  margin-right: 5%;
  margin-left: 5%;
  width: 90%;
  border: 3px solid var(--silk);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#challBtn {
  display: flex;
  align-content: center;
  justify-content: center;
}

.createdChallenges:empty {
  display: none;
}

@media screen and (max-width: 390px) {
  .profile-title {
    font-size: 24px;
    text-align: center;
    margin-top: 8%;
  }

  .private-card-body {
    display: flex;
    align-content: center;
    justify-content: center;
  }
}