.logHead{
    font-size: 20px;
}

.logInput button{
    text-align: center;
}

@media screen and (max-width: 375px) {

    .logHead{
        font-size: 20px
    }

    .logInput> input{
        width: 30%;
    }
    Form> button{
        font-size: var(--fs-10);
        background-color: white;
    }
}