.signup-form{
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.signup-title{
    margin: 30px;
    font-size: 48px;
}

.signup-form div{
    margin: 20px;    
}

.signup-form input{
    width: 40%;
    padding: 10px;
}

.signup-form button{
    padding: 10px !important;
}

.signBtn{
        background-color: white;
        width: fit-content;
        border-radius: 6px;
}

@media screen and (max-width: 390px) {
    .signup-form input{
        width: 70%;
        /* padding: 10px; */
    }
    .signup-form h2{
        font-size: 22px;
        padding: 0%;
    }
  }